<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="streaming audio, open source, low latency, directsound, wasapi, asio, alsa, jack, pulseaudio, .net, java, c#"/>
    <title>XT-Audio - An open source low-latency audio library</title>
    <link rel="stylesheet" type="text/css" href="css/github.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/highlight.pack.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="lblock">
        <h1>XT-Audio</h1>
        <p/>
        Releases (<a href="https://github.com/sjoerdvankreel/xt-audio/blob/master/history.txt">changelog</a>):<br/>
        2.0.1: March 10, 2024: bugfix release<br/>
        2.0: December 24, 2021: bugfix release<br/>
        1.9: February 14, 2021: improve error handling<br/>
        1.8: January 21, 2021: nuget/mvn central support<br/>
        1.7: January 2, 2021: major cleanup/rewrite release<br/>
        1.0.6: July 8, 2020: .net core/java9 support<br/>
        1.0.5: February 14, 2018: bugfix release<br/>
      </div>
      <div class="rblock topblock">
        <h2>Streaming audio focused on low latency, platform independence and API simplicity.</h2>
        <p/>
        Binaries: <a href="dist/xt-audio-2.0.1.zip">Download latest</a><br/>
        Previous releases: <a href="dist">Browse</a><br/>
        Screenshot: <a href="img/gui.png">WASAPI example</a><br/>
        Get the source: <a href="https://github.com/sjoerdvankreel/xt-audio">XT-Audio on GitHub</a><br/>
      </div>
      <p style="clear: both;"></p>

      <div class="lblock">
        <h2>Features</h2>
        &bull; Aggregation: combine multiple devices into a single stream<br/>
        &bull; DirectSound, WASAPI, ASIO, Pulse, ALSA and JACK backends<br/>
        &bull; Channel masks, timestamps, full-duplex, (non)interleaved mode<br/>
        &bull; x86/x64 Windows/Linux (C/C++), JVM, .NET Framework/Core, Mono<br/><br/>
      </div>
      <div class="rblock">
      <h2>Docs</h2>
        <a href="doc/core/html/index.html">Core</a> /
        <a href="doc/cpp/html/index.html">C++</a> /
        <a href="doc/java/apidocs/index.html">Java</a> /
        <a href="doc/net/index.html">.NET</a><br/>
        Only the core (C) API is fully documented. Code samples are provided for all languages except C. Refer to the
        core documentation's main page for differences between the C API and other language APIs.
      </div>
      <p style="clear: both;"></p>

      <ul id="tabs" class="nav nav-tabs">
        <li class="active"><a href="#simple-list" data-toggle="tab" onclick="$('.tab-pane[id=simple-list] .nav-tabs a:first').tab('show');">Device list</a></li>
        <li><a href="#detailed-list" data-toggle="tab" onclick="$('.tab-pane[id=detailed-list] .nav-tabs a:first').tab('show');">Detailed list</a></li>
        <li><a href="#simple-playback" data-toggle="tab" onclick="$('.tab-pane[id=simple-playback] .nav-tabs a:first').tab('show');">Playback</a></li>
        <li><a href="#simple-record" data-toggle="tab" onclick="$('.tab-pane[id=simple-record] .nav-tabs a:first').tab('show');">Record</a></li>
        <li><a href="#advanced-playback" data-toggle="tab" onclick="$('.tab-pane[id=advanced-playback] .nav-tabs a:first').tab('show');">Advanced playback</a></li>
        <li><a href="#advanced-record" data-toggle="tab" onclick="$('.tab-pane[id=advanced-record] .nav-tabs a:first').tab('show');">Advanced record</a></li>
        <li><a href="#full-duplex" data-toggle="tab" onclick="$('.tab-pane[id=full-duplex] .nav-tabs a:first').tab('show');">Full duplex</a></li>
        <li><a href="#aggregate" data-toggle="tab" onclick="$('.tab-pane[id=aggregate] .nav-tabs a:first').tab('show');">Aggregation</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="simple-list">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#simple-list-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-list-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-list-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Print device names to stdout.
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="simple-list-java">
              <pre><code class="lang-java">$$$simple-list-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-list-net">
              <pre><code class="lang-cs">$$$simple-list-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-list-cpp">
              <pre><code class="lang-cpp">$$$simple-list-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="detailed-list">
          <ul class="nav nav-tabs">
            <li><a href="#detailed-list-java" data-toggle="tab">Java</a></li>
            <li><a href="#detailed-list-net" data-toggle="tab">.NET</a></li>
            <li><a href="#detailed-list-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Initialize with application name and error logging callback.<br/>
            &bull; Query audio setups, service capabilities and default devices.<br/>
            &bull; Query device capabilities, mix, maximum channels and (non)interleaved access support.
          </div>
           <div class="tab-content">
            <div class="tab-pane" id="detailed-list-java">
              <pre><code class="lang-java">$$$detailed-list-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="detailed-list-net">
              <pre><code class="lang-cs">$$$detailed-list-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="detailed-list-cpp">
              <pre><code class="lang-cpp">$$$detailed-list-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="simple-playback">
          <ul class="nav nav-tabs">
            <li><a href="#simple-playback-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-playback-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-playback-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Render sinewave to the default output device.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="simple-playback-java">
              <pre><code class="lang-java">$$$simple-playback-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-playback-net">
              <pre><code class="lang-cs">$$$simple-playback-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-playback-cpp">
              <pre><code class="lang-cpp">$$$simple-playback-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="simple-record">
          <ul class="nav nav-tabs">
            <li><a href="#simple-record-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-record-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-record-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Record from the default input device to a raw audio file.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="simple-record-java">
              <pre><code class="lang-java">$$$simple-record-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-record-net">
              <pre><code class="lang-cs">$$$simple-record-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-record-cpp">
              <pre><code class="lang-cpp">$$$simple-record-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="advanced-playback">
          <ul class="nav nav-tabs">
            <li><a href="#advanced-playback-java" data-toggle="tab">Java</a></li>
            <li><a href="#advanced-playback-net" data-toggle="tab">.NET</a></li>
            <li><a href="#advanced-playback-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Get notified on stream under/overflow.<br/>
            &bull; Playback using interleaved and non-interleaved buffers.<br/>
            &bull; Get notified when the stream stops outside of application's control.<br/>
            &bull; Use channel masks to route a channel to a specific speaker position.<br/>
            &bull; (Java and .NET): use native buffers to prevent data copying or safe buffers to work with .NET/JVM arrays instead of raw pointers.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="advanced-playback-java">
              <pre><code class="lang-java">$$$advanced-playback-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-playback-net">
              <pre><code class="lang-cs">$$$advanced-playback-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-playback-cpp">
              <pre><code class="lang-cpp">$$$advanced-playback-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="advanced-record">
          <ul class="nav nav-tabs">
            <li><a href="#advanced-record-java" data-toggle="tab">Java</a></li>
            <li><a href="#advanced-record-net" data-toggle="tab">.NET</a></li>
            <li><a href="#advanced-record-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Get notified on stream under/overflow.<br/>
            &bull; Record using interleaved and non-interleaved buffers.<br/>
            &bull; Get notified when the stream stops outside of application's control.<br/>
            &bull; (Java and .NET): use native buffers to prevent data copying or safe buffers to work with .NET/JVM arrays instead of raw pointers.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="advanced-record-java">
              <pre><code class="lang-java">$$$advanced-record-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-record-net">
              <pre><code class="lang-cs">$$$advanced-record-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-record-cpp">
              <pre><code class="lang-cpp">$$$advanced-record-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="full-duplex">
          <ul class="nav nav-tabs">
            <li><a href="#full-duplex-java" data-toggle="tab">Java</a></li>
            <li><a href="#full-duplex-net" data-toggle="tab">.NET</a></li>
            <li><a href="#full-duplex-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Use JACK or ASIO for full-duplex operation.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="full-duplex-java">
              <pre><code class="lang-java">$$$full-duplex-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="full-duplex-net">
              <pre><code class="lang-cs">$$$full-duplex-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="full-duplex-cpp">
              <pre><code class="lang-cpp">$$$full-duplex-cpp$$$</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="aggregate">
          <ul class="nav nav-tabs">
            <li><a href="#aggregate-java" data-toggle="tab">Java</a></li>
            <li><a href="#aggregate-net" data-toggle="tab">.NET</a></li>
            <li><a href="#aggregate-cpp" data-toggle="tab">C++</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Combine any number of input and output devices into a single stream.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="aggregate-java">
              <pre><code class="lang-java">$$$aggregate-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="aggregate-net">
              <pre><code class="lang-cs">$$$aggregate-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="aggregate-cpp">
              <pre><code class="lang-cpp">$$$aggregate-cpp$$$</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>$('#tabs').tab();hljs.initHighlightingOnLoad();</script>
  </body>
</html>