<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="streaming audio, open source, low latency, directsound, wasapi, asio, alsa, jack, pulseaudio, .net, java, c#"/>
    <title>XT-Audio - An open source low-latency audio library</title>
    <link rel="stylesheet" type="text/css" href="css/github.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/highlight.pack.js"></script>
  </head>
  <body>
    <div id="container">

      <div class="lblock">
        <h1>XT-Audio</h1>
        <a href="https://github.com/sjoerdvankreel/xt-audio">XT-Audio on GitHub</a> /
        <a href="dist/xt-audio-1.0.5.zip">Download binaries</a> /
        <a href="img/gui.png">Screenshot</a>
      </div>
      <div class="rblock topblock">
        <h2>Streaming audio focused on low latency, platform independence and API simplicity.</h2>
      </div>
      <p style="clear: both;"></p>

      <div class="lblock">
        <h2>Features</h2>
        &bull; Aggregation: combine multiple devices into a single stream<br/>
        &bull; DirectSound, WASAPI, ASIO, Pulse, ALSA and JACK backends<br/>
        &bull; Channel masks, timestamps, full-duplex, (non)interleaved mode<br/>
        &bull; Supports x86/x64 Windows/Linux (C/C++), JVM, .NET and Mono<br/><br/>
      </div>
      <div class="rblock">
      <h2>Docs</h2>
        <a href="doc/core/html/index.html">Core</a> /
        <a href="doc/cpp/html/index.html">C++</a> /
        <a href="doc/java/index.html">Java</a> /
        <a href="doc/cli/index.html">.NET</a><br/>
        Only the core (C) API is fully documented. Code samples are provided for all languages except C. Refer to the
        core documentation's main page for differences between the C API and other language APIs.
      </div>
      <p style="clear: both;"></p>

      <ul id="tabs" class="nav nav-tabs">
        <li class="active"><a href="#simple-list" data-toggle="tab" onclick="$('.tab-pane[id=simple-list] .nav-tabs a:first').tab('show');">Device list</a></li>
        <li><a href="#detailed-list" data-toggle="tab" onclick="$('.tab-pane[id=detailed-list] .nav-tabs a:first').tab('show');">Detailed list</a></li>
        <li><a href="#simple-playback" data-toggle="tab" onclick="$('.tab-pane[id=simple-playback] .nav-tabs a:first').tab('show');">Playback</a></li>
        <li><a href="#simple-record" data-toggle="tab" onclick="$('.tab-pane[id=simple-record] .nav-tabs a:first').tab('show');">Record</a></li>
        <li><a href="#advanced-playback" data-toggle="tab" onclick="$('.tab-pane[id=advanced-playback] .nav-tabs a:first').tab('show');">Advanced playback</a></li>
        <li><a href="#advanced-record" data-toggle="tab" onclick="$('.tab-pane[id=advanced-record] .nav-tabs a:first').tab('show');">Advanced record</a></li>
        <li><a href="#full-duplex" data-toggle="tab" onclick="$('.tab-pane[id=full-duplex] .nav-tabs a:first').tab('show');">Full duplex</a></li>
        <li><a href="#aggregate" data-toggle="tab" onclick="$('.tab-pane[id=aggregate] .nav-tabs a:first').tab('show');">Aggregation</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="simple-list">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#simple-list-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-list-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-list-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#simple-list-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Print device names to stdout.
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="simple-list-java">
              <pre><code class="lang-java">$$$simple-list-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-list-net">
              <pre><code class="lang-cs">$$$simple-list-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-list-cpp">
              <pre><code class="lang-cpp">$$$simple-list-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-list-output">
              <pre><code>DirectSound: Lijningang (Realtek High Definition Audio)
DirectSound: Microfoon (Realtek High Definition Audio)
DirectSound: Luidsprekers (Realtek High Definition Audio)
DirectSound: Realtek Digital Output (Realtek High Definition Audio)
WASAPI: Microfoon (Realtek High Definition Audio) (Shared)
WASAPI: Lijningang (Realtek High Definition Audio) (Shared)
WASAPI: Realtek Digital Output (Realtek High Definition Audio) (Loopback)
WASAPI: Luidsprekers (Realtek High Definition Audio) (Loopback)
WASAPI: Microfoon (Realtek High Definition Audio) (Exclusive)
WASAPI: Lijningang (Realtek High Definition Audio) (Exclusive)
WASAPI: Realtek Digital Output (Realtek High Definition Audio) (Shared)
WASAPI: Luidsprekers (Realtek High Definition Audio) (Shared)
WASAPI: Realtek Digital Output (Realtek High Definition Audio) (Exclusive)
WASAPI: Luidsprekers (Realtek High Definition Audio) (Exclusive)
ASIO: ASIO4ALL v2
ASIO: E-MU ASIO</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="detailed-list">
          <ul class="nav nav-tabs">
            <li><a href="#detailed-list-java" data-toggle="tab">Java</a></li>
            <li><a href="#detailed-list-net" data-toggle="tab">.NET</a></li>
            <li><a href="#detailed-list-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#detailed-list-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Query audio setups, service capabilities and default devices.<br/>
            &bull; Initialize with application name, logger and fatal error handler.<br/>
            &bull; Query device mix, maximum channels and (non)interleaved access support.
          </div>
           <div class="tab-content">
            <div class="tab-pane" id="detailed-list-java">
              <pre><code class="lang-java">$$$detailed-list-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="detailed-list-net">
              <pre><code class="lang-cs">$$$detailed-list-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="detailed-list-cpp">
              <pre><code class="lang-cpp">$$$detailed-list-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="detailed-list-output">
              <pre><code>Win32: 1
Version: 1.0.6
Pro Audio: ASIO
System Audio: WASAPI
Consumer Audio: DirectSound
Service DirectSound:
  System: DSound
  Device count: 4
  Capabilities: [ChannelMask]
  Default input: Primair stuurprogramma voor opnemen van geluid
  Default output: Primair geluidsstuurprogramma
  Device Lijningang (Realtek High Definition Audio):
    System: DSound
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Microfoon (Realtek High Definition Audio):
    System: DSound
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Luidsprekers (Realtek High Definition Audio):
    System: DSound
    Current mix: [48000 Float32]
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
  Device Realtek Digital Output (Realtek High Definition Audio):
    System: DSound
    Current mix: [48000 Float32]
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
Service WASAPI:
  System: Wasapi
  Device count: 10
  Capabilities: [Time | Latency | ChannelMask | XRunDetection]
  Default input: Lijningang (Realtek High Definition Audio) (Shared)
  Default output: Luidsprekers (Realtek High Definition Audio) (Shared)
  Device Microfoon (Realtek High Definition Audio) (Shared):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Lijningang (Realtek High Definition Audio) (Shared):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Realtek Digital Output (Realtek High Definition Audio) (Loopback):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Luidsprekers (Realtek High Definition Audio) (Loopback):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Microfoon (Realtek High Definition Audio) (Exclusive):
    System: Wasapi
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Lijningang (Realtek High Definition Audio) (Exclusive):
    System: Wasapi
    Input channels: 18
    Output channels: 0
    Interleaved access: 1
    Non-interleaved access: 0
  Device Realtek Digital Output (Realtek High Definition Audio) (Shared):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
  Device Luidsprekers (Realtek High Definition Audio) (Shared):
    System: Wasapi
    Current mix: [48000 Float32]
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
  Device Realtek Digital Output (Realtek High Definition Audio) (Exclusive):
    System: Wasapi
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
  Device Luidsprekers (Realtek High Definition Audio) (Exclusive):
    System: Wasapi
    Input channels: 0
    Output channels: 18
    Interleaved access: 1
    Non-interleaved access: 0
Service ASIO:
  System: Asio
  Device count: 2
  Capabilities: [Time | Latency | FullDuplex | ChannelMask]
  Default input: ASIO4ALL v2
  Default output: ASIO4ALL v2
  Device ASIO4ALL v2:
    System: Asio
    Current mix: [44100 Int32]
    Input channels: 2
    Output channels: 8
    Interleaved access: 0
    Non-interleaved access: 1
  Device E-MU ASIO:
    System: Asio
    Current mix: [44100 Int32]
    Input channels: 32
    Output channels: 32
    Interleaved access: 0
    Non-interleaved access: 1</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="simple-playback">
          <ul class="nav nav-tabs">
            <li><a href="#simple-playback-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-playback-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-playback-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#simple-playback-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Render sinewave to the default output device.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="simple-playback-java">
              <pre><code class="lang-java">$$$simple-playback-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-playback-net">
              <pre><code class="lang-cs">$$$simple-playback-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-playback-cpp">
              <pre><code class="lang-cpp">$$$simple-playback-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-playback-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service DirectSound, output 1...
-- Info: Opened default device Primair geluidsstuurprogramma: service DirectSound, output 1.
-- Info: Opening stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (0)], interleaved 1...
-- Info: Opened stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (0)], interleaved 1.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Closing device Primair geluidsstuurprogramma...
-- Info: Closed device Primair geluidsstuurprogramma.
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="simple-record">
          <ul class="nav nav-tabs">
            <li><a href="#simple-record-java" data-toggle="tab">Java</a></li>
            <li><a href="#simple-record-net" data-toggle="tab">.NET</a></li>
            <li><a href="#simple-record-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#simple-record-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Record from the default input device to a raw audio file.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="simple-record-java">
              <pre><code class="lang-java">$$$simple-record-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-record-net">
              <pre><code class="lang-cs">$$$simple-record-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-record-cpp">
              <pre><code class="lang-cpp">$$$simple-record-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="simple-record-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service DirectSound, output 0...
-- Info: Opened default device Primair stuurprogramma voor opnemen van geluid: service DirectSound, output 0.
-- Info: Opening stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 1 (0) 0 (0)], interleaved 1...
-- Info: Opened stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 1 (0) 0 (0)], interleaved 1.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Closing device Primair stuurprogramma voor opnemen van geluid...
-- Info: Closed device Primair stuurprogramma voor opnemen van geluid.
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="advanced-playback">
          <ul class="nav nav-tabs">
            <li><a href="#advanced-playback-java" data-toggle="tab">Java</a></li>
            <li><a href="#advanced-playback-net" data-toggle="tab">.NET</a></li>
            <li><a href="#advanced-playback-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#advanced-playback-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Get notified on stream under/overflow.<br/>
            &bull; Playback using interleaved and non-interleaved buffers.<br/>
            &bull; Use channel masks to route a channel to a specific speaker position.<br/>
            &bull; (Java and .NET): use raw streams to operate directly on native buffers.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="advanced-playback-java">
              <pre><code class="lang-java">$$$advanced-playback-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-playback-net">
              <pre><code class="lang-cs">$$$advanced-playback-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-playback-cpp">
              <pre><code class="lang-cpp">$$$advanced-playback-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-playback-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service DirectSound, output 1...
-- Info: Opened default device Primair geluidsstuurprogramma: service DirectSound, output 1.
-- Info: Opening stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 2 (0)], interleaved 1...
-- Info: Opened stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 2 (0)], interleaved 1.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Rendering interleaved...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Opening stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 2 (0)], interleaved 0...
-- Info: Opened stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 2 (0)], interleaved 0.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Rendering non-interleaved...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Opening stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (1)], interleaved 1...
-- Info: Opened stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (1)], interleaved 1.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Rendering channel mask, channel 0...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Opening stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (2)], interleaved 1...
-- Info: Opened stream: device Primair geluidsstuurprogramma, bufferSize 500.000000, format [44100 Float32 0 (0) 1 (2)], interleaved 1.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Rendering channel mask, channel 1...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Closing device Primair geluidsstuurprogramma...
-- Info: Closed device Primair geluidsstuurprogramma.
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="advanced-record">
          <ul class="nav nav-tabs">
            <li><a href="#advanced-record-java" data-toggle="tab">Java</a></li>
            <li><a href="#advanced-record-net" data-toggle="tab">.NET</a></li>
            <li><a href="#advanced-record-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#advanced-record-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Get notified on stream under/overflow.<br/>
            &bull; Record using interleaved and non-interleaved buffers.<br/>
            &bull; (Java and .NET): use raw streams to operate directly on native buffers.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="advanced-record-java">
              <pre><code class="lang-java">$$$advanced-record-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-record-net">
              <pre><code class="lang-cs">$$$advanced-record-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-record-cpp">
              <pre><code class="lang-cpp">$$$advanced-record-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="advanced-record-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service DirectSound, output 0...
-- Info: Opened default device Primair stuurprogramma voor opnemen van geluid: service DirectSound, output 0.
-- Info: Opening stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 2 (0) 0 (0)], interleaved 1...
-- Info: Opened stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 2 (0) 0 (0)], interleaved 1.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Capturing interleaved...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Opening stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 2 (0) 0 (0)], interleaved 0...
-- Info: Opened stream: device Primair stuurprogramma voor opnemen van geluid, bufferSize 500.000000, format [44100 Int24 2 (0) 0 (0)], interleaved 0.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Starting stream on system DSound...
-- Info: Started stream on system DSound.
Capturing non-interleaved...
Press any key to continue...
-- Info: Stopping stream on system DSound...
-- Info: Stopped stream on system DSound.
-- Info: Closing stream on system DSound...
-- Info: Closed stream on system DSound.
-- Info: Closing device Primair stuurprogramma voor opnemen van geluid...
-- Info: Closed device Primair stuurprogramma voor opnemen van geluid.
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="full-duplex">
          <ul class="nav nav-tabs">
            <li><a href="#full-duplex-java" data-toggle="tab">Java</a></li>
            <li><a href="#full-duplex-net" data-toggle="tab">.NET</a></li>
            <li><a href="#full-duplex-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#full-duplex-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Use JACK or ASIO for full-duplex operation.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="full-duplex-java">
              <pre><code class="lang-java">$$$full-duplex-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="full-duplex-net">
              <pre><code class="lang-cs">$$$full-duplex-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="full-duplex-cpp">
              <pre><code class="lang-cpp">$$$full-duplex-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="full-duplex-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service ASIO, output 1...
-- Info: Opening device: service ASIO, index 0...
-- Info: Opened device ASIO4ALL v2: service ASIO, index 0.
-- Info: Opened default device ASIO4ALL v2: service ASIO, output 1.
-- Info: Opening stream: device ASIO4ALL v2, bufferSize 11.609977, format [44100 Int32 2 (0) 2 (0)], interleaved 1...
-- Info: Opened stream: device ASIO4ALL v2, bufferSize 11.609977, format [44100 Int32 2 (0) 2 (0)], interleaved 1.
-- Info: Starting stream on system Asio...
-- Info: Started stream on system Asio.
Streaming full-duplex, press any key to continue...
-- Info: Stopping stream on system Asio...
-- Info: Stopped stream on system Asio.
-- Info: Closing stream on system Asio...
-- Info: Closed stream on system Asio.
-- Info: Closing device ASIO4ALL v2...
-- Info: Closed device ASIO4ALL v2.
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="aggregate">
          <ul class="nav nav-tabs">
            <li><a href="#aggregate-java" data-toggle="tab">Java</a></li>
            <li><a href="#aggregate-net" data-toggle="tab">.NET</a></li>
            <li><a href="#aggregate-cpp" data-toggle="tab">C++</a></li>
            <li><a href="#aggregate-output" data-toggle="tab">Sample output</a></li>
          </ul>
          <div class="usage">
            <br/>
            &bull; Combine any number of input, output or full-duplex devices into a single stream.
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="aggregate-java">
              <pre><code class="lang-java">$$$aggregate-java$$$</code></pre>
            </div>
            <div class="tab-pane" id="aggregate-net">
              <pre><code class="lang-cs">$$$aggregate-net$$$</code></pre>
            </div>
            <div class="tab-pane" id="aggregate-cpp">
              <pre><code class="lang-cpp">$$$aggregate-cpp$$$</code></pre>
            </div>
            <div class="tab-pane" id="aggregate-output">
              <pre><code>-- Info: Initializing library (version 1.0.6, built Apr 13 2020 20:41:25) ...
-- Info: Built with ASIO: 1.
-- Info: Built with WASAPI: 1.
-- Info: Built with DirectSound: 1.
-- Info: Initialized library (version 1.0.6).
-- Info: Opening default device: service WASAPI, output 0...
-- Info: Opened default device Lijningang (Realtek High Definition Audio) (Shared): service WASAPI, output 0.
-- Info: Opening default device: service WASAPI, output 1...
-- Info: Opened default device Luidsprekers (Realtek High Definition Audio) (Shared): service WASAPI, output 1.
-- Info: Opening aggregate: service WASAPI, count 2...
-- Info: Opening stream: device Lijningang (Realtek High Definition Audio) (Shared), bufferSize 30.000000, format [48000 Int16 2 (0) 0 (0)], interleaved 1...
-- Info: Opened stream: device Lijningang (Realtek High Definition Audio) (Shared), bufferSize 30.000000, format [48000 Int16 2 (0) 0 (0)], interleaved 1.
-- Info: Opening stream: device Luidsprekers (Realtek High Definition Audio) (Shared), bufferSize 30.000000, format [48000 Int16 0 (0) 2 (0)], interleaved 1...
-- Info: Opened stream: device Luidsprekers (Realtek High Definition Audio) (Shared), bufferSize 30.000000, format [48000 Int16 0 (0) 2 (0)], interleaved 1.
-- Info: Opened aggregate: service WASAPI, count 2...
-- Info: Starting stream on system Wasapi...
-- Info: Starting stream on system Wasapi...
-- Info: Started stream on system Wasapi.
-- Info: Starting stream on system Wasapi...
-- Info: Started stream on system Wasapi.
-- Info: Started stream on system Wasapi.
Streaming aggregate, press any key to continue...
Press any key to continue...
XRun on stream -1, user = user-data.
XRun on stream -1, user = user-data.
XRun on stream 0, user = user-data.
-- Info: Stopping stream on system Wasapi...
-- Info: Stopping stream on system Wasapi...
-- Info: Stopped stream on system Wasapi.
-- Info: Stopping stream on system Wasapi...
-- Info: Stopped stream on system Wasapi.
-- Info: Stopped stream on system Wasapi.
-- Info: Closing stream on system Wasapi...
-- Info: Stopping stream on system Wasapi...
-- Info: Stopped stream on system Wasapi.
-- Info: Stopping stream on system Wasapi...
-- Info: Stopped stream on system Wasapi.
-- Info: Closed stream on system Wasapi.
-- Info: Closing device Luidsprekers (Realtek High Definition Audio) (Shared)...
-- Info: Closed device Luidsprekers (Realtek High Definition Audio) (Shared).
-- Info: Closing device Lijningang (Realtek High Definition Audio) (Shared)...
-- Info: Closed device Lijningang (Realtek High Definition Audio) (Shared).
-- Info: Terminating library (version 1.0.6)...
-- Info: Terminated library (version 1.0.6).</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>$('#tabs').tab();hljs.initHighlightingOnLoad();</script>
  </body>
</html>
